{% extends 'base.html' %} 

{% load static %}
{% block content %}
    <section class="content">
      <div class="row">
        <div class="col-xl-9 col-12">
          <!-- hero section -->
          <div class="row mb-3">
            <div class="">
              <div class="d-flex align-items-center">
                <div class="mx-3">
                  <h1 class="display-4 mb-4">Predict Breast Cancer Risks</h1>
                  <p class="lead mb-5">
                    Empowering you with knowledge to detect breast cancer early
                    and make informed decisions.
                  </p>

                  <button class="btn btn-xs btn-light">Get Started</button>
                </div>
              </div>
            </div>
          </div>
          <!--  Introduction Section -->
          <div class="box pull-up">
            <div class="box-body">
              <div class="d-md-flex justify-content-between align-items-center">
                <div class="col-lg-8 offset-lg-2">
                  <h2 class="text-center mb-4">
                    Welcome to Breast Cancer Prediction
                  </h2>
                  <p class="text-center">
                    At Breast Cancer Prediction, we are dedicated to providing
                    you with the tools and information needed to manage your
                    breast health effectively. Our platform features a
                    scientifically validated questionnaire developed by leading
                    oncologists and medical professionals. This questionnaire
                    assesses your individual risk factors for breast cancer,
                    helping you understand your susceptibility based on factors
                    such as family history, lifestyle choices, and genetic
                    predisposition.
                  </p>
                  <p class="text-center">
                    Our mission is to empower individuals like you to make
                    informed decisions about your health. Through our
                    user-friendly interface and advanced algorithms, we offer
                    personalized insights and recommendations tailored to your
                    specific risk profile. Whether you're seeking early
                    detection strategies or guidance on preventive measures,
                    Breast Cancer Prediction is here to support you every step
                    of the way. Join us in taking proactive steps towards breast
                    health awareness and prevention. Start your journey today
                    with our comprehensive questionnaire and take control of
                    your well-being.
                  </p>
                  <div class="text-center">
                    <a
                      href="invest.html"
                      class="waves-effect waves-light btn btn-outline btn-primary"
                      >Learn More</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- How It Works Section -->
          <div class="box pull-up">
            <div class="box-body">
              <div class="col-lg-8 offset-lg-2">
                <h2 class="text-center mb-4">How It Works</h2>
                <div class="row">
                  <div class="col-md-4 mb-4">
                    <div class="h-200">
                      <div class="text-center">
                        <i class="fa fa-file-text fa-3x text-primary mb-3"></i>
                        <h3>Step 1: Complete the Questionnaire</h3>
                        <p class="card-text">
                          Fill out our detailed questionnaire to provide
                          information about your medical history, lifestyle, and
                          genetic factors.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-4">
                    <div class="h-200">
                      <div class="text-center">
                        <i class="fa fa-cogs fa-3x text-primary mb-3"></i>
                        <h4 class="mt-2">Step 2: Machine Learning Analysis</h4>
                        <p>
                          Our platform uses advanced machine learning algorithms
                          to analyze your data and assess your risk of breast
                          cancer.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-4">
                    <div class="h-200">
                      <div class="text-center">
                        <i class="fa fa-line-chart fa-3x text-primary mb-3"></i>
                        <h4 class="mt-2">Step 3: Review Your Results</h4>
                        <p>
                          Receive personalized insights and recommendations
                          based on the analysis. Take proactive steps towards
                          your health.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Features Section -->
          <div class="box pull-up">
            <div class="box-body">
              <div class="d-md-flex justify-content-between align-items-center">
                <div class="col">
                  <h2 class="display-5">Our Features</h2>
                  <p class="lead">
                    Explore the powerful features we offer for early detection
                    and prevention.
                  </p>
                </div>
              </div>

              <hr />

              <div class="d-md-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-start align-items-center">
                  <div class="min-w-100">
                    <div class="mb-3">
                      <i class="fa fa-stethoscope fa-3x text-primary"></i>
                    </div>
                    <h5 class="mb-0">Comprehensive Questionnaire</h5>
                    <p class="mb-0 text-fade">
                      A detailed questionnaire to assess your risk factors with
                      precision.
                    </p>
                  </div>
                  <div class="mx-lg-50 mx-20 min-w-70">
                    <div class="mb-3">
                      <i class="fa fa-line-chart fa-3x text-primary"></i>
                    </div>
                    <h5 class="mb-0 text-success">Real-Time Analysis</h5>
                    <p class="mb-0 text-fade">
                      Instant analysis of your responses to provide immediate
                      feedback.
                    </p>
                  </div>

                  <div>
                    <div class="mb-3">
                      <i class="fa fa-shield fa-3x text-primary"></i>
                    </div>
                    <h5 class="mb-0">Privacy Protection</h5>
                    <p class="mb-0 text-fade">
                      Your data is secure and confidential, with top-notch
                      privacy protection.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Resorces Section -->
          <div class="box pull-up">
            <div class="box-body">
              <div class="d-md-flex justify-content-between align-items-center">
                <div class="col">
                  <h2 class="display-5">Resources</h2>
                  <p class="lead">
                    Explore our curated resources to learn more about breast
                    cancer prevention and support.
                  </p>
                </div>
              </div>

              <hr />

              <div class="d-md-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-start align-items-center">
                  <div class="min-w-100">
                    <div class="mb-3">
                      <i class="fa fa-book fa-3x text-primary"></i>
                    </div>
                    <h5 class="mb-0 text-success">Educational Articles</h5>
                    <p class="mb-0 text-fade">
                      In-depth articles on breast cancer prevention, diagnosis,
                      and treatment.
                    </p>
                    <a
                      href="#"
                      class="waves-effect waves-light btn btn-outline btn-primary"
                      >Read More</a
                    >
                  </div>
                  <div class="mx-lg-50 mx-20 min-w-70">
                    <div class="mb-3">
                      <i class="fa fa-video-camera fa-3x text-primary"></i>
                    </div>
                    <h5 class="mb-0 text-fade">Video Tutorials</h5>
                    <p class="mb-0 text-fade">
                      Watch video tutorials and expert talks to better
                      understand breast cancer.
                    </p>
                    <a
                      href="#"
                      class="waves-effect waves-light btn btn-outline btn-primary"
                      >Watch Now</a
                    >
                  </div>

                  <div>
                    <div class="mb-3">
                      <i class="fa fa-heartbeat fa-3x text-primary"></i>
                    </div>
                    <h5 class="mb-0">Support Groups</h5>
                    <p class="mb-0 text-fade">
                      Join support groups to connect with others and share your
                      experiences.
                    </p>
                    <a
                      href="#"
                      class="waves-effect waves-light btn btn-outline btn-primary"
                      >Join Now</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Testimonial Section -->
        <div class="col-xl-3 col-12">
          <div class="mb-20">
            <a
              href="invest.html"
              class="waves-effect waves-light btn w-p100 btn-success mb-5"
              >What Our Users Say <i class="ms-15 fa fa-angle-right"></i
            ></a>
          </div>
          <div class="box bg-transparent no-shadow">
            <div class="box-header ps-0 pb-0">
              <h3 class="box-title no-border">
                Hear from those who have benefited from our tool.
              </h3>
            </div>
          </div>
          <div class="box">
            <div class="box-body">
              <p class="mb-15">25 Dec 2021</p>
              <div class="d-flex pb-15 mb-15 bb-1 bb-dashed">
                <div class="" style="width: 50px; margin-right: 13px">
                  <img src="{{profile_image}}" class="avatar b-1" alt="" />
                </div>
                <div class="text-overflow" style="margin-left: 5px">
                  <a href="#">
                    <p class="mb-0 fw-500 text-overflow">
                      The questionnaire was easy to follow and gave me peace of
                      mind.
                    </p>
                  </a>
                </div>
              </div>
              <div class="d-flex pb-15 mb-15 bb-1 bb-dashed">
                <div class="me-10" style="width: 50px">
                  <img
                    src="{% static 'images/logo/logo-2.jpg' %}"
                    class="avatar b-1"
                    alt=""
                  />
                </div>
                <div class="text-overflow" style="margin-left: 5px">
                  <a href="#">
                    <p class="fw-500 text-overflow">
                      "Quick and insightful analysis that helped me take the
                      next steps."
                    </p>
                    <footer class="blockquote-footer mb-0 fw-500">
                      John Smith
                    </footer>
                  </a>
                </div>
              </div>
              <div class="d-flex pb-15 mb-15 bb-1 bb-dashed">
                <div class="me-10 modal-1">
                  <img
                    src="{% static 'images/logo/logo-3.jpg' %}"
                    class="avatar b-1"
                    alt=""
                  />
                </div>
                <div class="text-overflow overflow_box">
                  <a href="#">
                    <p class="mb-0 fw-500 text-overflow">
                      ABCD Money Market Fund Direct Plan-Growth
                    </p>
                    <p class="mb-0 fw-500">$500</p>
                  </a>
                </div>
              </div>
              <p class="mb-15">01 Jan 2022</p>
              <div class="d-flex pb-15 mb-15 bb-1 bb-dashed">
                <div class="me-10 modal-1">
                  <img
                    src="{% static 'images/logo/logo-4.jpg' %}"
                    class="avatar b-1"
                    alt=""
                  />
                </div>
                <div class="text-overflow overflow_box">
                  <a href="#">
                    <p class="mb-0 fw-500 text-overflow">
                      A&D Money Market Fund Direct-Growth
                    </p>
                    <p class="mb-0 fw-500">$500</p>
                  </a>
                </div>
              </div>
              <div class="d-flex">
                <div class="me-10" style="width: 50px">
                  <img
                    src="{% static 'images/logo/logo-5.jpg' %}"
                    class="avatar b-1"
                    alt=""
                  />
                </div>
                <div class="text-overflow" style="margin-left: 5px">
                  <a href="#">
                    <p class="mb-0 fw-500 text-overflow">Index Sensex Direct</p>
                    <p class="mb-0 fw-500">$500</p>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- Call-to-Action Section -->
          <div class="box bg-transparent no-shadow">
            <div class="box-header ps-0 pb-0">
              <h3 class="box-title no-border">
                Take the First Step Towards Early Detection
              </h3>
            </div>
            <div
                  class="d-flex align-items-center pb-15 mb-15 bb-1 bb-dashed"
                >
                  <div>
                      <p class="mb-0 lead mb-4">
                        Early detection saves lives. Start our questionnaire to
                        assess your breast cancer risk now.
                      </p>
                      <a
                        href="#"
                        class="mb-2 waves-effect waves-light btn btn-outline btn-primary"
                      >
                        <i class="fa fa-stethoscope"></i> Start Questionnaire
                      </a>
                      <a href="#" class="waves-effect waves-light btn btn-outline btn-primary ml-3">
                          <i class="fa fa-info-circle"></i> Learn More
                      </a>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

